In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('test2.csv', header=True, inferSchema=True).na.drop()
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [17]:
#Filter operations

#people with salary <= 20000
df_pyspark.filter('Salary <= 20000 and Age < 25').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [15]:
#can also use it like this
df_pyspark.filter( (df_pyspark['Salary'] <= 20000) & (df_pyspark['Age'] < 25)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+