In [2]:
import pyspark

In [3]:
import pandas as pd
df = pd.read_csv('test1.csv')
print(df)

     Name  Age  Experience
0    Ravi   34          10
1  Kishan   30           8
2   Manta   28           4
3    Zack   43          15

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('test1.csv' )

In [8]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema= True)

In [9]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [10]:
df_pyspark = spark.read.csv('test1.csv', inferSchema= True, header = True)

In [11]:
df_pyspark.select(['Name', 'Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|  Ravi|        10|
|Kishan|         8|
| Manta|         4|
|  Zack|        15|
+------+----------+

In [12]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [13]:
df_pyspark.describe().show()

+-------+------+-----------------+-----------------+
|summary|  Name|              Age|       Experience|
+-------+------+-----------------+-----------------+
|  count|     4|                4|                4|
|   mean|  null|            33.75|             9.25|
| stddev|  null|6.652067347825035|4.573474244670748|
|    min|Kishan|               28|                4|
|    max|  Zack|               43|               15|
+-------+------+-----------------+-----------------+

In [14]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [15]:
#not an inplace operation, need to assign to dataframe

df_pyspark = df_pyspark.withColumn('Experience_After_2_Years', df_pyspark["Experience"]+2)

In [16]:
df_pyspark.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience_After_2_Years|
+------+---+----------+------------------------+
|  Ravi| 34|        10|                      12|
|Kishan| 30|         8|                      10|
| Manta| 28|         4|                       6|
|  Zack| 43|        15|                      17|
+------+---+----------+------------------------+

In [17]:
df_pyspark = df_pyspark.drop('Experience_After_2_Years')

In [18]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
|  Ravi| 34|        10|
|Kishan| 30|         8|
| Manta| 28|         4|
|  Zack| 43|        15|
+------+---+----------+

In [19]:
#rename columns, not an inplace operation
df_pyspark.withColumnRenamed('Name', 'NewName').show()

+-------+---+----------+
|NewName|Age|Experience|
+-------+---+----------+
|   Ravi| 34|        10|
| Kishan| 30|         8|
|  Manta| 28|         4|
|   Zack| 43|        15|
+-------+---+----------+

In [20]:
df_pyspark.describe().show()

+-------+------+-----------------+-----------------+
|summary|  Name|              Age|       Experience|
+-------+------+-----------------+-----------------+
|  count|     4|                4|                4|
|   mean|  null|            33.75|             9.25|
| stddev|  null|6.652067347825035|4.573474244670748|
|    min|Kishan|               28|                4|
|    max|  Zack|               43|               15|
+-------+------+-----------------+-----------------+